.ba-img-offers{
	border: 2px solid #202020;
	padding: 20px;
	border-radius: 50%;
	color: $primary-color;
	margin-bottom: 20px;

}
.ba-text{
	text-align: center;
	letter-spacing: 0.9px;
	line-height: 1.65;
	&__addition{
		text-align-last: left;
		margin-bottom: 30px;
		p{
			margin-bottom: 30px;
		}
	}
}
.ba-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
