.ba-img-offers{
	border: 2px solid #202020;
	padding: 20px;
	border-radius: 50%;
	color: $primary-color;
	margin-bottom: 20px;

}
.ba-text{
	text-align: center;
	&__addition{
		text-align-last: left;
	}
}
.ba-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
